/* variabili globali ...............*/
:root {

    /* color */
    --grey: rgb(74, 74, 74);
    --dark: rgb(34, 34, 34);
    --green: rgb(75, 200, 0);
    --red: rgb(243, 28, 54);
    --white: rgb(255, 255, 255);
    /* size */
    --space-s: 4px;
    --space-m: 12px;

    /* font-size */
    --font-size-m: 12px;
}

/* ..Base................................ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--white);
    background-color: rgb(0, 0, 0);
    font-size: var(--font-size-m);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: var(--white);
}

/* layout ........*/
.maxi-container {
    display: flex;
    flex-direction: column;
    /* ?? */
    height: 100vh;
}

nav li {
    display: inline-block;
    list-style-type: none;
    padding: var(--space-s);
}

nav {

    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

/* top nav ...................................*/

.top-navbar .navbar-container {
    text-align: right;
    padding-top: 5px;
}

.top-navbar .display-options button {
    background-color: var(--grey);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: var(--space-s);
    margin-right: var(--space-s);
}

/* main ......................................... */

main .members.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    /* padding contenitore membri */
    padding: 20px 5vh;

    /* spazi tra i membri */
    row-gap: 1vw;
    column-gap: 1vh;

}

/* single member........................................ */
.members .member-container {
    /* occorre come riferimento per member-info (absolute)*/
    position: relative;
}


.member {
    /* calcolo che determina la dimensione delle singole card
    100% della misura del contenitore - 6(spazi)x 1vh(column-gap) diviso 7 membri */
    width: calc((100% - (6 * 1vh)) /7);


    /* questo non funziona correttamente perchè la barra sotto è in fixed */
    height: calc((((100% - (4 * 1vh)) /5)));

}

.member-info {
    position: absolute;
    bottom: 0px;
    left: -8px;
    padding: var(--space-s);
    background-color: rgba(117, 109, 109, 0.5);
}

img {
    display: block;

    /* riadattato le immagini perchè con scala diversa rispetto all'originale e fittavano male*/
    width: 90%;
    transform: scaleX(110%);

}

/* bottom nav .........................................*/

.bottom-navbar .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.option-container {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 0.2rem;
    padding-top: calc(3 * (var(--space-s)));
}

.end-option {
    padding: var(--space-m)
}

.option-container i {
    font-size: 1.6rem;
    padding: var(--space-s);
}

.option-container .option-range {
    font-family: cursive;
    font-size: 1rem;
}

.end-option {
    background-color: var(--grey);
    color: var(--red);
    align-self: stretch;
}

.end-meeting a {
    color: var(--red);
}

.option-container .green {
    color: var(--green);
}