/* general */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    border: 1px solid bisque;
    font-size:x-small;
}

:root{
    /* color */
    --grey: rgb(74, 74, 74);
    --dark: rgb(34, 34, 34);
    --green: rgb(75, 200, 0);
    --red:rgb(243, 28, 54);
    --white:rgb(255, 255, 255);

    /* size */
}

body{ color: var(--white);
    background-color: var(--grey);
}

nav li{
    display: inline-block;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--white)
}
.end-meeting a{
    color:var(--red);
}


.maxi-container{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

.top-navbar .navbar-container{
    text-align: right;
}

.bottom-navbar .navbar-container{
    display: flex;
    justify-content: space-between;
}

